    <form action='/videos' method='post'>
      <input id="title-input" name="title">
      {{#with newVideo.errors.title as |error|}}
        <span class="error">{{error.message}}</span>
      {{/with}}
      <textarea id="description-input" name="description"></textarea>
      <input id="videoUrl-input" name="videoUrl">
      <button type='submit'>Save a video</button>
    </form>
