  <div class="contents-container" id="videos-container">
    <div class="video-card">
      <div class="video-player">
          <iframe class="video-player" src="{{newVideo.videoUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-title">
        <!-- Excited train guy, New York! -->
        <p>{{newVideo.title}}</p>
        <p>{{newVideo.description}}</p>
      </div>
    </div>
  </div>
